body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(10, 163, 173, 0.726);
    font-family: Arial;
}

.form-container{
    background-color: whitesmoke;
    color: rgb(25, 28, 221);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0.1);
    border-radius: 5px;
}

.form-container input{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.form-container button{
    padding: 10px;
    width: 100%;
    background-color: rgb(15, 46, 221);
    color: bisque;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilização de mensagem de validação*/

.message.success {
    background-color: #d4edda;
    color: #155724;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}